/* stylelint-disable selector-class-pattern */
/* stylelint-disable selector-id-pattern */
/* stylelint-disable at-rule-no-unknown */
/* stylelint-disable function-no-unknown */

/* Clues: theme("screens.xs420"); theme("colors.mlt-purple-bright_tr1"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/**
	 * This duplicates the above directives for dark mode,
	 * but this is the easiest way to automatically
	 * toggle the system theme!

	 * Keep this query at the bottom, otherwise the system theme color selector doesn't work!
	 */
	@media (prefers-color-scheme: dark) {
		/* html:not(.light):not(.dark), */
		/*
		.system {
			--background: 222.2 84% 4.9%;
			--foreground: 210 40% 98%;
			--card: 222.2 84% 4.9%;
			--card-foreground: 210 40% 98%;
			--popover: 222.2 84% 4.9%;
			--popover-foreground: 210 40% 98%;
			--primary: 210 40% 98%;
			--primary-foreground: 222.2 47.4% 11.2%;
			--secondary: 217.2 32.6% 17.5%;
			--secondary-foreground: 210 40% 98%;
			--muted: 217.2 32.6% 17.5%;
			--muted-foreground: 215 20.2% 65.1%;
			--accent: 38, 100%, 50%;
			--accent-foreground: 210 40% 98%;
			--destructive: 0 62.8% 30.6%;
			--destructive-foreground: 210 40% 98%;
			--border: 217.2 32.6% 17.5%;
			--input: 217.2 32.6% 17.5%;
			--ring: 46, 100%, 50%;
		}
		*/
	}

	:root {
		--background: 210, 40%, 98%; /* #f8fafc */
		--foreground: 222.2 84% 4.9%;
		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;
		--primary: 222.2 47.4% 11.2%;
		--primary-foreground: 210 40% 98%;
		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;
		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;
		--accent: 38, 100%, 50%; /* hsl(42, 100%, 50%) #ffa200 hsl(38, 100%, 50%) */
		--accent-foreground: 0, 0%, 24%; /* hsl(0, 0%, 24%) */
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;
		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 46, 100%, 50%; /* hsl(46, 100%, 50%) */
		--radius: 0.5rem;
		--scrollbar-width: 16px;
	}

	[data-theme="dark"],
	.dark {
		--background: 222.2 84% 4.9%;
		--foreground: 210 40% 98%;
		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;
		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;
		--primary: 210 40% 98%;
		--primary-foreground: 222.2 47.4% 11.2%;
		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;
		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;
		--accent: 38, 100%, 50%; /* hsl(42, 100%, 50%) #ffa200 hsl(38, 100%, 50%) */
		--accent-foreground: 210 40% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;
		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;
		--ring: 46, 100%, 50%; /* hsl(46, 100%, 50%) */
	}
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;

		min-width: 320px;
	}
}

body {
	min-width: 320px;
}

[type="text"]:focus,
input:where(:not([type])):focus,
[type="email"]:focus,
[type="url"]:focus,
[type="password"]:focus,
[type="number"]:focus,
[type="date"]:focus,
[type="datetime-local"]:focus,
[type="month"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="time"]:focus,
[type="week"]:focus,
[multiple]:focus,
textarea:focus,
select:focus {
	--tw-ring-color: hsl(42deg 100% 50%);

	border-color: hsl(42deg 100% 50%);
}

/* Trick the hidden scroll of Radix Select */
body [data-radix-select-viewport] {
	-webkit-overflow-scrolling: scroll;
	scrollbar-width: 2rem;
	-ms-overflow-style: scroll;
}

body [data-radix-select-viewport]::-webkit-scrollbar {
	display: inherit;
}

/* Outline */
:focus-visible,
:focus {
	outline-color: theme("colors.ring");
}

/* Text selection */

::selection {
	background: hsl(var(--ring));
	color: #fff;
}

/* Scroll bars */
* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	scrollbar-color: theme("colors.gray.300") transparent;
	scrollbar-width: auto;
}

*::-webkit-scrollbar {
	width: calc(var(--scrollbar-width) / 1.1);
	height: calc(var(--scrollbar-width) / 1.1);
	background-color: transparent;
}

*::-webkit-scrollbar-track {
	border-radius: var(--scrollbar-width);
}

*::-webkit-scrollbar-thumb {
	height: 52px;
	border: calc(var(--scrollbar-width) / 4.2) solid transparent;
	border-radius: var(--scrollbar-width);
	background-color: theme("colors.gray.300");
	background-clip: content-box;
}

*::-webkit-scrollbar-thumb:hover {
	background-color: theme("colors.accent.DEFAULT");
}

*::-webkit-scrollbar-corner {
	background-color: theme("colors.accent.DEFAULT");
}

/* Logo */
.logo-cls-1 {
	opacity: 0;
	fill: transparent;
	stroke: transparent;
	stroke-miterlimit: 10;
}

.logo-cls-2 {
	fill: #787878;
}

.logo-cls-3 {
	fill: #b4b4b4;
}

.logo-cls-4 {
	fill: #a0a0a0;
}

.logo-cls-5 {
	fill: #ffb300;
}

/* buttons */
.btn_next_prev {
	@apply rounded-lg w-full xs:w-24 font-semibold text-lg gap-4 xs:gap-1
	transition-colors duration-200 flex items-center justify-center xs:justify-between
	hover:text-background disabled:text-background text-foreground
	bg-slate-300 hover:!bg-slate-500
	dark:bg-slate-700 dark:hover:bg-slate-200;
}

/* genres */
.list_title {
	@apply text-2xl font-semibold font-unicephalon px-1 pb-3 text-accent opacity-95 line-clamp-1 tracking-wider;
}

.list_item {
	@apply grid grid-flow-col gap-3 items-center justify-start p-2
	 hover:bg-slate-300 dark:hover:bg-slate-800 rounded-lg
	 transition-colors duration-300 hover:duration-150
	 drop-shadow-xl cursor-pointer;
}

/* SortSelector | PlatformSelector */
.selector_trigger {
	@apply rounded-lg text-lg flex items-center justify-between bg-slate-300 hover:!bg-slate-500 dark:bg-slate-800 dark:hover:!bg-slate-700 py-4 px-2 sm:px-4 transition-colors duration-300;
}

.select_item_inner {
	@apply flex flex-row gap-3 items-center justify-between line-clamp-1;
}

.select_item_order {
	@apply hover:bg-slate-800 z-10 px-2 py-1 rounded-md transition-colors duration-200;
}
