/* stylelint-disable selector-class-pattern */
/* stylelint-disable selector-id-pattern */
/* stylelint-disable at-rule-no-unknown */
/* stylelint-disable function-no-unknown */

/* Clues: theme("screens.xs420"); theme("colors.mlt-purple-bright_tr1"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 210, 40%, 98%; /* #f8fafc */
		--foreground: 222.2 84% 4.9%;
		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;
		--primary: 222.2 47.4% 11.2%;
		--primary-foreground: 210 40% 98%;
		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;
		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;
		--accent: 46, 100%, 50%; /* hsl(46, 100%, 50%) */
		--accent-opacity: hsl(46deg 100% 50% / 86.7%);
		--accent-foreground: 0, 0%, 24%; /* hsl(0, 0%, 24%) */
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;
		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 42, 100%, 50%; /* hsl(42, 100%, 50%) */
		--ring-opacity: hsl(42deg 100% 50% / 86.7%);
		--radius: 0.5rem;
		--scrollbar-width: 12px;
	}

	.dark {
		--background: 222.2 84% 4.9%;
		--foreground: 210 40% 98%;
		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;
		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;
		--primary: 210 40% 98%;
		--primary-foreground: 222.2 47.4% 11.2%;
		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;
		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;
		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 210 40% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;
		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;
		--ring: hsl(212.7deg 26.8% 83.9);
	}
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
	}
}

/* Trick the hidden scroll of Radix Select */
body [data-radix-select-viewport] {
	-webkit-overflow-scrolling: scroll;
	scrollbar-width: 2rem;
	-ms-overflow-style: scroll;
}

body [data-radix-select-viewport]::-webkit-scrollbar {
	display: inherit;
}

/* Outline */
:focus-visible,
:focus {
	outline-color: theme("colors.ring");
}

/* Text selection */

::selection {
	background: var(--ring);
	color: #fff;
}

/* Scroll bars */
* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	scrollbar-color: theme("colors.gray.300") transparent;
	scrollbar-width: auto;
}

*::-webkit-scrollbar {
	width: calc(var(--scrollbar-width) / 1.1);
	height: calc(var(--scrollbar-width) / 1.1);
	background-color: transparent;
}

*::-webkit-scrollbar-track {
	border-radius: var(--scrollbar-width);
}

*::-webkit-scrollbar-thumb {
	height: 52px;
	border: calc(var(--scrollbar-width) / 4.2) solid transparent;
	border-radius: var(--scrollbar-width);
	background-color: theme("colors.gray.300");
	background-clip: content-box;
}

*::-webkit-scrollbar-thumb:hover {
	background-color: theme("colors.accent.DEFAULT");
}

*::-webkit-scrollbar-corner {
	background-color: theme("colors.accent.DEFAULT");
}

/* Logo */
.logo-cls-1 {
	opacity: 0;
	fill: transparent;
	stroke: transparent;
	stroke-miterlimit: 10;
}

.logo-cls-2 {
	fill: #787878;
}

.logo-cls-3 {
	fill: #b4b4b4;
}

.logo-cls-4 {
	fill: #a0a0a0;
}

.logo-cls-5 {
	fill: #ffb300;
}

/* Form */
.form_field_text_input {
	@apply block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6;
}

.form_text_input_label {
	@apply block text-sm font-medium leading-6 text-gray-900;
}

.form_submit_btn {
	@apply border rounded-md px-6 py-2 text-white bg-violet-600 hover:bg-violet-900 mt-2 active:bg-white active:text-violet-700;
}
